body{
    background-color: palegoldenrod;
    margin: 120px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:80%;
    text-align: center;
}

h1{
    font-family: cursive;
    text-align: center;
    font-size: 60px;
}

li{
    color:darkgrey;
    padding-top: 150px;
    padding-right:800px;
}

h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}