p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }

  li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  
  h1 {
    color:darkslategrey;
  }
  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategrey;
  }
  
  .title {
    color: darkslategrey;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
  }

  img {
    border-radius: 50%;
  }

  div { text-align: center; }
ul { display: inline-block; text-align: left; }


