body {
    background-color: #fffff0
    font-family: Arial, Verdana,
    Font-size 20px
    color: #00008B
}
h1 {font-family:arial, verdana; font-size: 32px; color:#a52a2a}
h2 {font-family:arial, verdana; font-size: 24px; color:#a52a2a}
